# Nested repo (avoid "does not have a commit checked out")
NavViz/

# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Vite
.vite

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Misc
*.pem
.cache
